######################################################################
#
# The hostname is {{ ansible_facts['fqdn'] }}
# My Linux distribution is {{ ansible_facts['distribution'] }}
#	and version is {{ ansible_facts['distribution_version'] }}
# if you have any question contact with {{ system_owner }}
#
######################################################################
